<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if current_user %>
        <%= link_to t('pages.index.sign_out'), destroy_user_session_path, method: :delete %>
      <% else %>
        <div>
          <%= link_to t('pages.index.sign_up'), new_user_registration_path %>
        </div>
        <div>
          <%= link_to t('pages.index.sign_in'), new_user_session_path %>
        </div>
      <% end %>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div id="notifications"></div>
    <%= yield %>
  </body>
</html>
